<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
	<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
	<meta name="renderer" content="webkit">
	<!--国产浏览器高速模式-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="穷在闹市" />
	<!-- 作者 -->
	<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
	<!-- 定义页面的最新版本 -->
	<meta name="description" content="网站简介" />
	<!-- 网站简介 -->
	<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
	<title>穷在闹市出品</title>

	<!-- 公共样式 开始 -->
	<link rel="stylesheet" type="text/css" href="../../css/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
	<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<!-- 滚动条插件 -->
	<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
	<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
	<script src="../../framework/jquery.mousewheel.min.js"></script>
	<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
	<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
	<style>
		p{
			margin-top: 30px;
			margin-left: 50px;
			font-size: 20px;
		}
		span{
			margin: auto;
			text-align: left;
		}
	</style>
	<!-- 公共样式 结束 -->
	<script>

		function infofind(){
			layer.open({
				title:'预存款充值审核',
				type: 1,
				shadeClose:true, //点击遮罩关闭
				area: ['500px', '600x'], //宽高
				anim: 2,                   //动画
				content:$("#info"), //内容为frameDiv内容
				offset:'auto'
			});
		}
	</script>

</head>

<body>
<div class="cBody">
	<div class="console">

		<script>
			layui.use('form', function() {
				var form = layui.form;

				//监听提交
				form.on('submit(formDemo)', function(data) {
					layer.msg(JSON.stringify(data.field));
					return false;
				});
			});
		</script>
	</div>

	<table class="layui-table">
		<thead>
		<tr>
			<th>充值记录ID</th><th>用户ID</th><th>充值金额</th><th>充值时间</th><th>审核状态</th><th>操作</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>DLS201802281450</td>
			<td>DLS201802281450280741</td>
			<td>1000</td>
			<td>2019-10-09</td>
			<td>未审核</td>
			<td>
				<a class="layui-btn" href='javascript:infofind()'>审核</a>
			</td>
		</tr>
		<tr>
			<td>DLS201802281450</td>
			<td>DLS201802281450280741</td>
			<td>1000</td>
			<td>2019-10-09</td>
			<td>未审核</td>
			<td>
				<a class="layui-btn" href='javascript:infofind()'>审核</a>
			</td>
		</tr>
		<tr>
			<td>DLS201802281450</td>
			<td>DLS201802281450280741</td>
			<td>1000</td>
			<td>2019-10-09</td>
			<td>未审核</td>
			<td>
				<a class="layui-btn" href='javascript:infofind()'>审核</a>
			</td>
		</tr>
		</tbody>
	</table>
	<div id="info" style="display:none;text-align: center;padding-top: 30px">
		<form id="reviewForm" class="layui-form" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">折扣等级</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="disCountLevel" required lay-verify="required"  autocomplete="off" class="layui-input">
					</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">累计金额</label>
					<div class="layui-input-inline shortInput">
						<input type="text" name="actualMoney" required lay-verify="required"  autocomplete="off" class="layui-input">
					</div>
			</div>

			<label class="layui-form-label">审核意见：</label>
					<div class="layui-input-block"style="width: 300px;margin: auto">
						<textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
			<div style="margin-top: 50px">
				<a href='javascript:layer.closeAll()' class="layui-btn">通过</a>
				<a href='javascript:layer.closeAll()' class="layui-btn">不通过</a>
			</div>
		</form>
	</div>

	<!-- layUI 分页模块 -->
	<div id="pages"></div>
	<script>
		layui.use(['laypage', 'layer'], function() {
			var laypage = layui.laypage,
					layer = layui.layer;

			//总页数大于页码总数
			laypage.render({
				elem: 'pages'
				,count: 100
				,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
				,jump: function(obj){
					console.log(obj)
				}
			});
		});
	</script>
</div>

</body>

</html>