<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
	<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
	<meta name="renderer" content="webkit">
	<!--国产浏览器高速模式-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="穷在闹市" />
	<!-- 作者 -->
	<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
	<!-- 定义页面的最新版本 -->
	<meta name="description" content="网站简介" />
	<!-- 网站简介 -->
	<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
	<title>穷在闹市出品</title>

	<!-- 公共样式 开始 -->
	<link rel="stylesheet" type="text/css" href="../../css/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
	<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<!-- 滚动条插件 -->
	<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
	<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
	<script src="../../framework/jquery.mousewheel.min.js"></script>
	<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
	<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
	<style>
		p{
			margin-top: 30px;
			margin-left: 50px;
			font-size: 20px;
		}
		span{
			margin: auto;
			text-align: left;
		}
	</style>
	<!-- 公共样式 结束 -->
</head>
<body>
<div class="cBody">
	<table class="layui-table">
		<thead>
		<tr>
			<th>充值记录ID</th><th>用户ID</th><th>充值金额</th><th>充值时间</th><th>审核状态</th><th>操作</th>
		</tr>
		</thead>
		<tbody id="dataBody"></tbody>
	</table>
	<div id="reviewDiv" style="display: none">
		<input id="upId" type="hidden" name="upId" value=""/>
		<div style="height: 200px">
			<div style="margin-left: 10px">
				<h1>审核意见：</h1>
			</div>
			<div style="margin-left: 10px">
					<textarea id="reviewAdvice" name="reviewAdvice" style="height: 150px;width: 580px;">
				</textarea>
			</div>
		</div>

		<div style="float: left;margin-left: 30px">
			审核人:  <input id="name" name="name" type="text"><br>
		</div>
		<div style="float: left;margin-left: 100px;margin-top: 10px">
			<div style="text-align: center">
				<a href="javascript:reviewFailed()" class="layui-btn layui-btn-danger" style="margin-top: 50px;margin-left: 10px"><i class="layui-icon"></i>不通过</a>
				<a href="javascript:reviewPass()" class="layui-btn"
				   style="margin-top: 50px;text-align: center"><i class="layui-icon"></i>通过</a>
			</div>
		</div>
	</div>

	<!-- layUI 分页模块 -->
	<div id="pages"></div>
	<script>

		$(function () {
			cutPage(1);
		});

		function cutPage(pageNO){
			$.post("/recharge/page",
					{
						'pageNO':pageNO
					},
					function(info){
						var str = "";
						console.log(info);
						for(var i=0;i<info.data.length;i++){
							var obj = info.data[i];
							str += "<tr><td>"+obj.upId+"</td><td>"+obj.balance.userId+"</td><td>"+obj.amount+ "</td>" +
									"<td>"+obj.upDate+"</td><td>"+obj.reviewStatus+"</td>" +
									"<td><a class='layui-btn' onclick=\"review(\'"+obj.upId+"\')\">审核</a></td></tr>";
						}

						$("#dataBody").html(str);

						if(pageNO === 1){
							layui.use('laypage', function(){
								var laypage = layui.laypage;
								//执行一个laypage实例
								laypage.render({
									elem: 'pages' //注意，这里的 test1 是 ID，不用加 # 号
									,count: info.count, //数据总数，从服务端得到
									limit:5,  //每页显示条数
									jump:function(obj,first){ //页码变化时触发
										if(!first){
											cutPage(obj.curr);
										}
									}
								});
							});
						}

					});
		}

		function review(id) {
			layer.open({
				type:1,
				title:'预存款充值审核',
				skin:'layui-layer-rim',//是否加边框
				area:['600px','500px'],//弹出层大小
				anim:2,//动画
				content:$("#reviewDiv")//需要显示的div
			});
			$("#upId").val(id);
		}

		function reviewPass() {
			$.post( "/recharge/reviewPass",
					{
						"upId": $("#upId").val(),
						// "reviewAdvice": $("#reviewAdvice").val(),
						"name": $("#name").val()
					},
					function (info) {
						cutPage(1);
						layer.closeAll();
					}
			);
		}

		function reviewFailed() {
			$.post( "/recharge/reviewFailed",
					{
						"upId": $("#upId").val(),
						"reviewAdvice": $("#reviewAdvice").val(),
						"name": $("#name").val()
					},
					function (info) {
						layer.closeAll();
					}
			);
		}
	</script>
</div>

</body>

</html>