<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>穷在闹市出品</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
		<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../framework/jquery.mousewheel.min.js"></script>
		<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->

		<!-- 公共样式 结束 -->
		<script>
			$(function () {
				var orderdetalisId;


				cutPage(1);
			});
			function infofindById(id){
				orderdetalisId=id;
				layer.open({
					title:'购物结算详情',
					type: 1,
					shadeClose:true, //点击遮罩关闭
					area: ['900px', '550px'], //宽高
					anim: 2,                   //动画
					content:$("#infoDiv"), //内容为frameDiv内容
					offset:'auto'
				});
				$.post("/orderdeta/findById","id="+id,function(info){
					// alert(JSON.stringify(info));
					var str=" ";
					for (var i=0;i<info.data.length;i++){
						var obj=info.data[i];
						str +="<tr><td>"+obj.orderId+"</td><td>"+obj.shoppingEntity.id+"</td><td>"+obj.productName+ "</td>" +
								"<td>"+obj.productNumber+"</td><td>"+obj.productPrice+"</td><td>"+obj.productSpec+"</td></tr>";
					}
				$("#data2").html(str)


				});


			}
			function infofindId(id) {
				orderdetalisId=id;
				layer.open({
					title: '报价审核',
					type: 1,
					shadeClose: true, //点击遮罩关闭
					area: ['500px', '400px'], //宽高
					anim: 2,                   //动画
					content: $("#info"), //内容为frameDiv内容
					offset: 'auto'//设置div位置，默认居中
				});
			}
			function updateT(){

				$.post("/shoppingAudit/updateT","id="+orderdetalisId+"&shoppingOpinion="
						+$("#shoppingOpinion").val(),function(info){
					console.log(info)
					if (info=="ok"){
						alert("审核完成")
						cutPage(1);
						layer.closeAll();
					}
					else {
						alert("审核失败")
					}
				});
			}
			function updateF(){

				$.post("/shoppingAudit/updateF","id="+orderdetalisId+"&shoppingOpinion="
						+$("#shoppingOpinion").val(),function(info){
					console.log(info)
					if (info=="ok"){

						cutPage(1);
						layer.closeAll();
					}
					else {
						alert("审核失败")
					}
				});
			}

		</script>

	</head>

	<body>
		<div class="cBody">
			<div class="console">


				<script>
					layui.use('form', function() {
						var form = layui.form;

						//监听提交
						form.on('submit(formDemo)', function(data) {
							layer.msg(JSON.stringify(data.field));
							return false;
						});
					});
				</script>
			</div>

			<table class="layui-table">
				<thead>
					<tr>
						<th>订单编号</th>
						<th>用户ID</th>
						<th>订单号</th>
						<th>总价</th>
						<th>订单日期</th>
						<th>订单状态</th>
						<th>结算方式</th>
						<th>操作</th>

					</tr>
				</thead>
				<tbody id="dataBody">





				</tbody>

			</table>
			<div id="infoDiv" style="display:none;">
				<table class="layui-table">
				<thead>
					<tr>
						<th>订单明细ID</th>
						<th>订单编号</th>
						<th>商品名称</th>
						<th>商品数量</th>
						<th>商品单价</th>
						<th>规格</th>
					</tr>

				</thead>
					<tbody id="data2">
					<tr>



					</tr>
				</table>
			</div>
			<div id="info" style="display:none;text-align: center;padding-top: 30px">
				<form id="infoForm">
					<label class="layui-form-label">审核意见：</label>
					<div class="layui-input-block"style="width: 300px;margin: auto">
						<textarea name="desc" id="shoppingOpinion" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
					<div style="margin-top: 50px">
						<a href='javascript:updateT()' class="layui-btn">通过</a>
						<a href='javascript:updateF()' class="layui-btn">不通过</a>
					</div>

				</form>
			</div>


			<!-- layUI 分页模块 -->
			<div id="pages"></div>
			<script>

				function cutPage(pageNO){
					$.post("/shopping/page",{
								'pageNO':pageNO
							},
							function (info) {

								var str=" ";
								for (var i=0;i<info.data.length;i++){
									var obj=info.data[i];

									// alert(JSON.stringify(info));

									str+="<tr><td>"+obj.id+"</td><td>"+obj.cusID+"</td><td>"+obj.code+ "</td>" +
											"<td>"+obj.totalPrice+"</td><td>"+obj.orderDate+"</td><td>"+obj.orderStatus+"</td><td>" +obj.payStatus+
											"</td><td><a class=\"layui-btn\" href=\"javascript:infofindById(\'"+obj.id+"\')\">订单详情</a>" +
											"<a class=\"layui-btn\" href=\"javascript:infofindId(\'"+obj.id+"\')\">审核</a></td></tr>";
								}
								$("#dataBody").html(str);
								if(pageNO === 1){
									layui.use('laypage', function(){
										var laypage = layui.laypage;
										//执行一个laypage实例

										laypage.render({
											elem: 'pages' //注意，这里的 test1 是 ID，不用加 # 号
											,count: info.count, //数据总数，从服务端得到
											limit:5,  //每页显示条数
											jump:function(obj,first){ //页码变化时触发
												if(!first){
													cutPage(obj.curr);
												}
											}
										});
									});
								}
							});
				}
			</script>
		</div>

	</body>

</html>