<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>穷在闹市出品</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
		<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../framework/jquery.mousewheel.min.js"></script>
		<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../js/supplier.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->

	</head>

	<body>
		<div class="cBody">
			<div class="console">


				<script>
					layui.use('form', function() {
						var form = layui.form;
				
						//监听提交
						form.on('submit(formDemo)', function(data) {
							layer.msg(JSON.stringify(data.field));
							return false;
						});
					});
				</script>
			</div>
			
			<table class="layui-table">
				<thead>
					<tr>
						<th>供应商名称</th>
						<th>经营范围</th>
						<th>联系方式</th>
						<th>供应商地址</th>
						<th>供应商注册时间</th>
						<th>供应商资质证书</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="data">

				</tbody>
			</table>
			<div id="cutPageDiv"></div>

			</div>


		</div>

		<script>
			$(function(){
				cutPage(1);
			});
			function cutPage(pageNO){
				$.post("/supplier/allSupplier","pageNO="+pageNO,function(info){
					// alert(JSON.stringify(info));
					var str = "";
					for(var i=0;i<info.data.length;i++){
						var obj = info.data[i];
						console.log(obj)
						str += "<tr><td>"+obj.supplierName+
								"</td><td>"+obj.supplierScope+
								"</td><td>"+obj.supplierPhone+
								"</td><td>"+obj.supplierSite+
								"</td><td>"+obj.supplierTime+
								"</td><td><img style='height: 60px;width: 200px' src='data:image/jpg;base64,"+obj.supplierLicansePath+"'>"+
								"</td><td><a class='layui-btn'  onclick=\"two(\'"+obj.supplierId+"\')\">审核</a></td></tr>"
					}

					$("#data").html(str);

					if(pageNO ==1){
						layui.use('laypage', function(){
							var laypage = layui.laypage;
							//执行一个laypage实例
							laypage.render({
								elem: 'cutPageDiv' //注意，这里的 test1 是 ID，不用加 # 号
								,count: info.count, //数据总数，从服务端得到
								limit:3,  //每页显示条数
								jump:function(obj,first){ //页码变化时触发
									if(!first){
										cutPage(obj.curr);
									}
								}
							});
						});
					}

				},"json");
			}
		</script>

		<div id="findDiv" style="display: none">
			<div style="width: 100px;height: 100px">
				<img src="../../images/goodsPIC1.png" style="margin:auto;position:absolute;top:-100px;left:0;bottom:0;right:0;width: 100px;height: 100px;">
			</div>

		</div>

		<div id="findDiv1" style="display: none">
			<form id="examineFrom">
				<div style="height: 200px">
					<div style="margin-left: 10px">
						<h1>审核意见：</h1>
					</div>

					<div style="margin-left: 10px">
					<textarea style="height: 150px;width: 580px" id="examineInfo">
				</textarea>
					</div>
				</div>

				<div style="float: left;margin-left: 30px">
					审核人: <span id="examineMan">罗建军</span><br>
					审核时间：<span id="examineTime"></span><br>
					供应商等级：<span>
					<select id="supplierGrade">
						<option value="无">无等级</option>
						<option>钻石会员</option>
						<option>铂金会员</option>
						<option>白银会员</option>
					</select>
				</span>
				</div>
			</form>

			<div style="float: left;margin-left: 100px;margin-top: 10px">
				<!--layer.closeAll()关闭所有弹出层-->
				<div style="text-align: center">
					<!--layer.closeAll()关闭所有弹出层-->
					<a  href="javascript:examineNo()" class="layui-btn layui-btn-danger" style="margin-top: 50px;margin-left: 10px"><i class="layui-icon"></i>审核不通过</a>
					<a href="javascript:examineYes()" class="layui-btn" style="margin-top: 50px;text-align: center"><i class="layui-icon"></i>审核通过</a>
				</div>
			</div>

		</div>


	</body>

</html>