<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
    <script type="text/javascript" src="../../layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
    <script src="../../framework/jquery-ui-1.10.4.min.js"></script>
    <script src="../../framework/jquery.mousewheel.min.js"></script>
    <script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->

</head>
<body>
<div class="cBody">
    <table class="layui-table">
        <thead>
        <tr>
            <th>用户id</th>
            <th>请求</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>

    <!-- layUI 分页模块 -->
    <div id="pages"></div>

    <div id="qrDiv" style="display:none;text-align: center">
        <div style="text-align: center">
            <input id="check_userId" type="hidden">
            <a href="javascript:updateUserStatusEntity()" class="layui-btn"><i class="layui-icon layui-icon-On-line"></i>通过</a>
            <a href="javascript:showMessage()" class="layui-btn"><i class="layui-icon layui-icon-cuo"></i>不通过</a>
        </div>
    </div>

    <div id="messageDiv" style="display:none;text-align: center">
        <div class="layui-form-item layui-form-text" style="text-align: center">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <form>
                    <input id = "downUserId" type="hidden">
                <textarea id="remark" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </form>
            </div>
        </div>
        <div style="text-align: center">
            <a href="javascript:passDown()" class="layui-btn"><i class="layui-icon layui-icon-ok"></i>确定</a>
        </div>
    </div>
</div>


<script>
    $(function () {
        cutPage(1);
    });
    function cutPage(pageNO){
        $.post("/user/statuspage",
            {
                'pageNO':pageNO
            },
            function(info){
                var str = " ";
                for(var i=0;i<info.data.length;i++){
                    var obj = info.data[i]

                    var str1 = JSON.stringify(obj);

                    str += "<tr><td>"+obj.userId+"</td><td>"+obj.userStatus+"</td>"+
                        "<td><a onclick='showStatus("+str1+")' class=\"layui-btn\"><i class=\"layui-icon layui-icon-search\"></i>审核</a></td></tr>";
                }
                $("#data").html(str);

                if(pageNO === 1){
                    layui.use(['laypage','layer'], function(){
                        var laypage = layui.laypage ,
                            layer = layui.layer;
                        //执行一个laypage实例
                        laypage.render({
                            elem: 'pages' //注意，这里的 test1 是 ID，不用加 # 号
                            ,count: info.count, //数据总数，从服务端得到
                            limit:5,  //每页显示条数
                            jump:function(obj,first){ //页码变化时触发
                                if(!first){
                                    cutPage(obj.curr);
                                }
                            }
                        });
                    });
                }
            });
    }

    function showStatus(str){

        $("#check_userId").val(str.userId);
        layer.open({
            title: '用户状态审核',
            type: 1,
            shadeClose: true, //点击遮罩关闭
            area: ['400px', '300px'], //宽高
            anim: 4,                   //动画
            content: $("#qrDiv"), //内容为frameDiv内容
            offset: 'auto'//设置div位置，默认居中
        });

    }

    function updateUserStatusEntity() {
        var userId= $("#check_userId").val();
        $.post("/user/updateStatus","userId=" + userId,function(info){
            alert(info);
        });
        layer.closeAll();
        cutPage(1);
    }

    function showMessage() {
        var userId= $("#check_userId").val();
        $("#downUserId").val(userId);
        layer.open({
            title: '理由信息',
            type: 1,
            shadeClose: true, //点击遮罩关闭
            area: ['400px', '300px'], //宽高
            anim: 4,                   //动画
            content: $("#messageDiv"), //内容为frameDiv内容
            offset: 'auto'//设置div位置，默认居中
        });
    }

    function passDown() {
        var userId = $("#downUserId").val();
        var remark = $("#remark").val();
        $.post("/user/updateDown",{'userId':userId,'remark':remark},function (info) {
            alert(info);
        });
        layer.closeAll();
        cutPage(1);
    }
</script>
</body>
</html>